body {
    background-color: #222;
    color: white;
}
.messagebox {
    background: #171d26;
    border-left: 4px solid #264673;
    padding: .4em .8em;
    margin: 20px 15%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}
.stupid-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stupid-gallery {
    display: flex;
}
.dark {
    font-family: monospace;
    padding: 0px 0.3rem;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid darkgray;
    border-radius: 4px;
}
.image {
    background-size: 100px 100px;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
